[Desktop Entry]
Type=Link
URL=https://answers.microsoft.com/es-es/windows/forum/windows_7-update/no-se-puede-encontrar-el-modulo-especificado/bd495513-25bd-4809-9c01-2a142ef3c506